body{
    background-color: aquamarine;
}

header{
    text-align: center;
}

#nuestraEmpresa{
    background-color:azure;
}

#somos{
    background-color: beige;
}

#mision{
    background-color: brown;
}

#objetivos{
    background-color: blueviolet;
}

#cronologia{
    text-align: center;
    background-color: rgb(210, 0, 250);
}
