
body{
    background: linear-gradient(165deg,#71b7e6,#9b59b6);
    width: fit-content;
    height: fit-content;
}

header{
    text-align: center;
}


#cronologia{ /*Imagen que está en la cronologia*/
    text-align: center;
    /* background-color: rgb(210, 0, 250); */
}

#plastic{ /*Imagen que está en la parte superior*/
    
    width: 100%;
    height: 100%;
    /* box-shadow: 5px 5px 5px black; */
    box-shadow: none;
}

#logo2{
    text-align: center;
    width: 100px;
    height: 100px;
}

#logo2:hover{
    color:gray;
}

#logoprin{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 7%;

}

#menu{
    padding: 0px;
    margin-top: 0%;
    box-shadow: none;
    background: white;
    text-align: right;
    width: 90%;
    height: 30%;
    border-radius: 0px;
    overflow: hidden;
    border:none;


    /* position: absolute;
    box-shadow: none;
    border-radius: 0%;
    width: 80%;
    height: 20%;
    margin-left: 10%; */


}


#menuValues li a:hover{
    color:gray;
}

#menuValues li a{
    text-decoration: none;
    color:white;
    list-style-type: none;
    float: right;
    margin: 4px 4px 4px 4px;

}

#menuData{
    padding: 0%;
    width: 100%;
    height: 150px;
    background-color:#002b47;
    border:none;
    border-radius: 0px;
    overflow: hidden;
    margin: auto;
    box-shadow: none;
    /* top: 0%; */

    /* background: transparent; */

}




h2{
    font-family: 'Open Sans';
    text-align: center;
}

p{
    text-align: justify;
    font-family: 'Open Sans';
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

strong{
    
}

.grid-container > *{
    /*box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    /*border-radius:4px ;*/
    padding: 10px;
    /*text-align: center;*/
}

div{
    inline-size: auto;
    background: whitesmoke;
    text-align: center;
    width: 90%;
    height: 20%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 5px black;
    padding: 1rem;
    margin-left: 5%;
    margin-top: 1.5rem ;
    margin-bottom: 1.5rem ;
}

h2{
    font-size: 40px;
    padding: 1rem;
}

footer{
    color: white;
    background-color: rgb(30, 30, 30);
    text-align: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1px 0;
    /* height: 30%; */

}



#contactoFooter ul{
    list-style-type: none;
}

#contactoFooter li{
    float:right;
    margin-right: 10px;
    margin-top: 1px;
    padding: 0 4px;    
}

#contactoFooter li a{
    text-decoration:none;
    color:white;
}

#contactoFooter li a:hover{
    color:gray;
}



#direccion{
    
    text-align: left;
    margin-right: 10px;
    margin-top: 1px;
    padding: 0 4px;    
}


