<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container-fluid">
    <a href="#" [routerLink]="['/home']" > <img class="logo" src="./../../../assets/images/logo.png"> </a>
    <a class="navbar-brand fs-4" href="#" [routerLink]="['/home']"><b>PROCEAN</b> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="#" [routerLink]="['/home']" class="nav-link">Inicio </a>
        <a href="#" [routerLink]="['/nuestrascampanas']" class="nav-link">Nuestra campaña</a>
        <a href="#" [routerLink]="['/sobrenosotros']" class="nav-link">Sobre nosotros</a>
        <a href="#" [routerLink]="['/ayudaoceano']"class="nav-link">Ayuda al oceano</a>
        <a href="#" [routerLink]="['/unete']"  class="nav-link">Recibe nuestras novedades</a>
        <a href="#" [routerLink]="['/noticias']" class="nav-link">Noticias</a>
        <a href="#" [routerLink]="['/donar']" class="nav-link">Donación</a>
        <a href="#" [routerLink]="['/inicioSesion']" class="nav-link">Iniciar Sesión</a>
        <p class = "nav-link"> iniciado como: {{getUsuario()}}</p>
        <button class="btn-outline-danger" type="submit" (click)="cerrarsesion()">Cerrar Sesion</button>
        <!--<p> iniciada como {{getUsuario()}}</p>-->
      </div>
    </div>
  </div>
</nav>
