$colorBase: #106BBF;

.navbar{
    background-color: #106BBF;
}

.container-fluid{
    background-color: $colorBase;
    // position: relative;

    header{
        margin: 0px 0px 0px;
    }

    .nav-link{
        color: white;
    }
    
    .logo{
        width: 50px;
        height: 50px;
    }

}

.navbar-nav a:hover{
    color:darkcyan !important;
}


  