 <!-- Background image -->
 <div class=" img-fluid bg-image justify-content-center text-white image p-5 mb-4text-white d-flex flex-column" style="  background-image:url('./../../../assets/images/mantaraya.jpg');height: 100%;">
    <!--sobre nosotros-->
    <div class="card bg-success p-5 mb-4">
      <div class="card-body">
        <h2 class="card-title">Quienes somos?</h2>
        <p class="card-text">
          Somos una empresa sin fines de lucro dedicados a preservar el bienestar del océano y sus numerosos habitantes. Ayúdanos a hacer la diferencia al limpiar la basura en los océanos, ayudar a los animales desplazados por la destrucción de su hábitat, y más.
        </p>
      </div>
    </div>
    <!--nuestros valores-->
      <div class="card bg-success p-5 mb-4" >
        <div class="card-body">
          <h2 class="card-title">Cuales son nuestros valores</h2>
          <p class="card-text">
          <p>Solidaridad: Construimos un enfoque de desarrollo basado en Derechos Humanos.</p> 
         <p>Compromiso: Actuamos comprometidas en el cumplimiento de nuestra misión, visión y con la integridad, como principio fundamental de nuestras actuaciones.</p> 
          <p>Excelencia: Aseguramos la consecución de nuestros objetivos y buscamos el mayor impacto de nuestras actuaciones a través de la calidad.</p> 
          <p>Participación: Fomentamos los principios democráticos y participativos como medios necesarios para la transformación social y como fin inherente al desarrollo.</p> 
          <p>Transparencia: Basamos nuestra labor en la honestidad, la mutua responsabilidad y el máximo acceso a la información, como pilares de una rendición de cuentas social y económica ante nuestros colaboradores y donantes.</p> 
        </div>
      </div>

   <!--Ayuda a nuestros oceanos-->
   <div class="card bg-success p-5 mb-4">
    <div class="card-body">
      <h2 class="card-title">Ayuda a nuestros oceanos</h2>
      <p class="card-text">
        El daño que estamos haciendo a nuestros océanos también amenaza nuestra existencia. Ayuda a proporcionar el 
        aire que respiramos, los alimentos que comemos y el combustible que alimenta nuestro mundo. La vida no podría existir sin el, 
        pero lamentablemente nuestro oceano está bajo amenaza.
      </p>
      <a href="#" [routerLink]="['/ayudaoceano']" class="btn btn-outline-light float-end" style="margin-top: -2%;">Seguir leyendo</a>
    </div>
  </div>

  <!--Donación-->
  <div class="card bg-success p-5 mb-4">
    <div class="card-body">
      <h2 class="card-title">Con tu aporte, podremos hacer un cambio</h2>
      <p class="card-text">
        Con tu ayuda podremos adquirir mejores equipos que puedan ayudar a salvar nuestros oceanos. 
      </p>
      <a href="#" [routerLink]="['/donar']" class="btn btn-outline-light float-end" style="margin-top: -2%;">Donar</a>
    </div>
  </div>

</div> 
