<footer class="contenido container-fluid text-center text-lg-start text-muted;">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!--parte red social-->
      <div class="letras me-5 d-none d-lg-block">
        <span>Conectate a nuestras redes sociales:</span>
      </div>
      <div class="redes-sociales">
        <a href="" class=" me-4 text-reset">
          <i class="fab fa-facebook-f"></i>Facebook
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>Twitter
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>Google
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>Instagram
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>
    <!--derechos de procean mas logo-->
    <section class="">
      <div class="letras text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
           
            <h6 class="letra-negro text-uppercase fw-bold mb-4">
                <img class = "logo" src="images/logo.png"  alt="">
              <i class="fas fa-gem me-3"></i><B>PROCEAN</B>
            </h6>
            <p>
                Procean 2022, todos los derechos reservados
            </p>
          </div>
  <!--contenidos de la pagina-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        
            <h6 class="text-uppercase fw-bold mb-4">
              Contenido
            </h6>
            <p>
              <a href="#" [routerLink]="['/sobrenosotros']" class="text-reset">Sobre Nosotros</a>
            </p>
            <p>
              <a href="#" [routerLink]="['/galeria']" class="text-reset">Galeria</a>
            </p>
            <p>
              <a href="#" [routerLink]="['/donar']" class="text-reset">Donar</a>
            </p>
            <p>
              <a href="#" [routerLink]="['/nuestrascampanas']" class="text-reset">Nuestra campaña</a>
            </p>
          </div>
  <!--direccion-->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
           
            <h6 class="text-uppercase fw-bold mb-4">
              Dirección
            </h6>
            <p><i class="fas fa-home me-3"></i> José Alberto Popin 777, oceanlandia</p>
          </div>
      <!--contacto-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +5695415634</p>
          </div>
        </div>
       </div>
    </section>
       
  </footer>