.container-fluid{
    background-color: rgb(41, 105, 224);
  
    .logo{
        width: 50px;
        height: 50px;
    }
    .nav-link{
        color: rgb(255, 255, 255);    
    }
}

.img-fluid {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #106BBF;
  }

body{

    .form-register{
        width: 400px;
        background-color: #1f53c5;
        padding: 30px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 4px;
    
    }

    .form-register h4{
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
        color: white;
    }

    .controls{
        width: 100%;
        background-color: white;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f53c5;
        font-family: 'calibri';
        font-size: 18px;

    }

    .errores{
        width: 100%;
        background-color: red;
        font-family: 'calibri';
        display: none;
       // visibility: hidden;
        margin-top: -15px;
        margin-bottom: 1px;
        border-radius: 4px;
    }

    .errorespecial{
        width: 100%;
        background-color: red;
        font-family: 'calibri';
        display: none;
       // visibility: hidden;
        margin-top: -15px;
        margin-bottom: 1px;
        border-radius: 4px;
    }

    .form-register p{
        height: 40px;
        text-align: center;
        font-size: 18px;
    }

    .form-register a{
        color: white;
        text-decoration: none;
    }

    .form-register a:hover{
        color: white;
        text-decoration: underline;
    }

    .boton{
        width: 100%;
        background: aquamarine;
        align-self: center;
        border: none;
        padding: 12px;
        color: #1f53c5;
        margin: 16px 0;
        font-size: 16px;
    }

}

  