<div class="img-fluid bg-image image p-5 d-flex flex-column" style='background-image:url("./../../../assets/images/circular3.jpg")'>
    
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card bg-success p-5 mb-4">
          <div class="card-body">
            <h2 class="card-title">Economía Circular</h2>
            <p class="card-text">Descripción de la Economía Circular</p>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="card bg-success p-5 mb-4">
          <div class="card-body">
            <h2 class="card-title">Nuestros Objetivos</h2>
            <p class="card-text">Descripción de las Metas sobre la Economía Circular</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

