<div class="img-fluid bg-image image p-5 d-flex flex-column" style='background-image:url("./../../../assets/images/oceano1.jpg")'>
  <div class="container">

    <div class="row">
      <div class="col">
        <div class="card bg-success p-5 mb-4">
          <div class="card-body">
            <h2 class="card-title">Limpiar Océanos del Mundo</h2>
            <p class="card-text">Descripción</p>
          </div>
        </div> 
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card bg-success p-5 mb-4">
          <div class="card-body">
            <h2 class="card-title">Nuestros Objetivos</h2>
            <p class="card-text">Descripción de las Metas para limpiar los Océanos del Mundo</p>
          </div>
        </div> 
      </div>
    </div>
  </div>
  </div>
