<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="img-fluid bg-image image p-5 d-flex flex-column" style='background-image:url("./../../../assets/images/Plastico.jpg")'>
        <div class="card bg-success p-5">
          <div class="card-body">
            <h2 class="card-title">Limpiar Océanos del Mundo</h2>
            <p class="card-text">Dado que en la economía existente una de las acciones recurrentes es usar y 
              botar los materiales u objetos que se consumen,
               es ya un hecho que estos deshechos sean tirados al océano...  </p>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-outline-secondary btn-sm"> <a href="#" [routerLink]="['/limpiaroceanosc']"> Seguir Leyendo... </a></button>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="img-fluid bg-image image p-5 d-flex flex-column" style='background-image:url("./../../../assets/images/circular1.jpg")'>
          <div class="card bg-success p-5">
            <div class="card-body">
              <h2 class="card-title">Economía Circular</h2>
              <p class="card-text"> La economía circular se está convirtiendo en uno de los modelos de producción del futuro.
                  Esto se debe a las terribles consecuencias del cambio climático...
              </p>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-outline-secondary btn-sm"> <a href="#" [routerLink]="['/economiac']"> Seguir Leyendo... </a></button>
            </div>
          </div>     
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="img-fluid bg-image image p-5 d-flex flex-column" style='background-image:url("./../../../assets/images/tratado2.jpg")'>
        <div class="card bg-success p-5">
          <div class="card-body">
            <h2 class="card-title">Tratados Internacionales</h2>
            <p class="card-text">Nosotros como empresa tenemos como objetivo restaurar y conservar
              lo mejor de este planeta. Sin embargo, para lograr esta meta...</p>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-secondary btn-sm"> <a href="#" [routerLink]="['/tratadosc']"> Seguir Leyendo... </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="img-fluid bg-image image p-5 d-flex flex-column" style='background-image:url("./../../../assets/images/sustentable2.jpg")'>
        <div class="card bg-success p-5">
          <div class="card-body">
            <h2 class="card-title">Desarrollo Sustentable</h2>
            <p class="card-text"> El desarrollo sustentable, sostenible o perdurable, está ligado a la economía circular, esta busca que los países logren
               el más alto estado de desarrollo a través de políticas ecológicas...</p>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-secondary btn-sm"> <a href="#" [routerLink]="['/desarrollosusc']"> Seguir Leyendo... </a></button>
          </div>
        </div> 
      </div>
    </div>
  </div>










</div>