$colorBase: #106BBF;

.container-fluid{
    // background-color: $colorBase;
    // padding: 0px 0px 0px 0px;
    // position: relative;
    // header{
    //     margin: 0px 0px 0px 0px;
    // }
    .col{
        padding-left: 0%;
        padding-right: 0%;
    }

    .nav-link{
        color: white;
    }
}

.card.bg-success{
    background-color: rgb(245,245,245,0.75) !important;
}


.img-fluid{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $colorBase;
}

.btn{

    a{
        color: black;
        text-decoration: none;
    }
}

  