<div class=" img-fluid bg-image image p-5" style="  background-image:url('./../../../assets/images/medusa.jpg');height: 100%;">
  <div class="row ">

    <div class="col-8">
      <div class="row">
        <div class="card bg-success text-center border">
          <div class=" card-body text-white ">
            <h1 class="card-header mb-0 border">Donadores</h1>

            <div class="list-group border">
                <!--funcion de los donadores-->
              <a herf="#" class=" list-group-item list-group-item-action" aria-current="true" 
              *ngFor="let donador of donadores" 
              (click)="Seleccionardonador(donador)" 
              [ngClass]="{'active':SeleccionDonador === donador}">
              <!--donadores-->
              <p class="card-info text-center text-black"> || Nombre: {{donador.nombre}} || Rut: {{donador.rut}} || Donacion: ${{donador.dinero}} ||</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="card-title text-white text-center">Lista mayores donadores</h1>
        <div class="card lista bg-success border">
          
          <app-textdes></app-textdes>
        </div>
      </div>
    </div>

    <div class="col-4" >
          <!--configuracion de botones y agregar datos-->
        <div class="card bg-sucess">
          <div class="card-body border text-white text-center">
            
            <h1 class="card-header border">Tu Donación</h1>
              <!--rellenar datos-->
              <!--nombre-->
              <h2 class="card-title mb-0">Nombre donador</h2>
              <input [(ngModel)]="nombre" class = "my-2" type = "text">
              <!--rut-->
              <h2 class="card-title mb-0">Rut</h2>
              <input [(ngModel)]="rut" class = "my-3" type = "text">
              <!--dinero-->
              <h2 class="card-title mb-0">Cantidad a donar</h2>
              <input [(ngModel)]="donar" class = "my-3" type = "text">
            <!--botones de agregar, modificar y eliminar-->
              <div class = "card-body border d-grid gap-2">
                <a (click)="AgregarDonador(nombre,rut,donar)"  class="btn btn-success">Donar</a>
                <a (click)="Modificardonador(nombre,rut,donar)" class="btn btn-warning">Cambiar/modificar donación</a>
                <a (click)="EliminarDonador()" class="btn btn-danger">Eliminar donación</a>
              </div>

          </div>
        </div>
    </div>


  </div>
</div>