$colorBase: #106BBF;

.container{


    header{
        margin: 0px 0px 0px;
    }

    .nav-link{
        color: white;
    }
    
    .logo{
        width: 50px;
        height: 50px;
    }

}

.card.bg-success{
    background-color: rgb(245,245,245,0.75) !important;
}


.img-fluid{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $colorBase;
}
