.container-fluid{
    background-color: rgb(41, 105, 224);
  
    .logo{
        width: 50px;
        height: 50px;
    }
    .nav-link{
        color: rgb(255, 255, 255);    
    }
}

.img-fluid {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #106BBF;
}

.card.bg-success{
    background-color:  rgba(83, 182, 207, 0.6) !important;
}
 
.contenido{
 
    background-color: rgb(41, 105, 224);
        .redes-sociales{
            color: white;
        }
        .letras{
            color: white;
             
            .letra-negro{
                color: black;
                .logo{
                    width: 15%;
                }
            }
        }
    .copyright{
        color: white;
    }
    
}



.titulo{
        width: 20%;
        margin-left: 500px;
        background-color: #1f53c5;
        margin-bottom: 50px;
}

.titulo h1{
        text-align: center;
        color: white;
}



.nav-item a:hover {
    color: darkcyan;
}

.card-text{
    color: black;
    font-size: large;
    text-align: left;
}
 //Background

  