<div class="img-fluid bg-image image p-5 d-flex flex-column" style='background-image:url("./../../../assets/images/Sos1.jpg")'>
    <!-- <div class="titulo"><h1>Noticias</h1></div> -->

    <div class="card bg-success p-5 mb-4">
      <div class="card-body text-white bg-sucess">
        <h2 class="card-title mb-0">Emergencia de los océanos: 142 países debaten cómo salvarlos en Lisboa</h2>
        <p class="card-text text-center">
          Los océanos inundan esta semana la agenda política mundial, aunque está por ver que la teoría sobre su conservación se convierta en práctica.
           De la Conferencia sobre los Océanos de la ONU, que ha comenzado este lunes por la mañana en Lisboa y a la que asisten más de 7.000 personas de 142 países,
            saldrá una declaración que se viene negociando desde hace dos años entre las distintas delegaciones internacionales y que no será vinculante.

        </p>
      </div>
    </div>

    <div class="card bg-success p-5 mb-4">
      <div class="card-body text-white bg-sucess">
        <h2 class="card-title mb-0">Más de 140 millones de toneladas de plásticos contaminan ya los ríos, océanos y lagos del planeta</h2>
        <p class="card-text text-center">
          La OCDE advierte de que apenas un 9% de los residuos de este material se reciclan. 193 países negocian en la ONU el primer tratado mundial para frenar esta plaga.
          Los datos son desgarradores: en apenas siete décadas, el ser humano ha contaminado los ecosistemas acuáticos con más de 140 millones de toneladas de plástico. En estos momentos, alrededor de 109 millones de toneladas de estos desechos se acumulan en los ríos y lagos del mundo; otros 30 millones contaminan los océanos; y unos 1,4 millones están en tránsito desde los ríos a los mares. Este es el balance de daños que recoge un informe monográfico sobre esta polución de la OCDE (Organización para la Cooperación y el Desarrollo Económicos). El estudio, que se publica este martes, pone el foco en un problema que se está tratando en la asamblea de la ONU sobre el medio ambiente, que se celebra en Nairobi, Kenia, durante esta semana y la siguiente. Los representantes de 193 países están negociando en esta cita la forma de impulsar el primer tratado global para luchar contra la contaminación por plástico.
        </p>
      </div>
    </div>

    <div class="card bg-success p-5 mb-4">
      <div class="card-body text-white bg-sucess">
        <h2 class="card-title mb-0">Sorprendentes buenas noticias: La vida marina puede recuperarse para 2050</h2>
        <p class="card-text text-center">
          En medio de una pandemia que está costando vidas y sufrimiento y que es capaz de provocar un impacto económico sin precedentes, cuando las noticias negativas sobre el medio ambiente se repiten cada cierto tiempo, un artículo de revisión que se acaba de publicar en « Nature» ha dado la que se podría considerar como una buena noticia: los océanos se están recuperando.
          «Nuestro estudio documenta la recuperación de las poblaciones marinas, los hábitats y los ecosistemas gracias a los esfuerzos pasados en conservación», ha dicho Carlos Duarte, codirector de la estudio junto a Susana Agustí, ambos investigadores en la Universidad de Ciencia y Tecnología Rey Abdalá (KAUST), en Arabia Saudí. «También proporciona recomendaciones específicas, y basadas en evidencias, para aplicar las soluciones a mayor escala y globalmente», ha añadido.
Aunque el ser humano ha provocado profundos daños en la vida marina, los investigadores han documentado evidencias que muestran la gran resiliencia de estos ecosistemas, que están siendo capaces de recuperarse en las últimas dos décadas después de los importantes daños ocurridos durante el siglo XX.
        </p>
      </div>
    </div>

    <div class="card bg-success p-5 mb-4">
      <div class="card-body text-white bg-sucess">
        <h2 class="card-title mb-0">La contaminación del mar se ha multiplicado por 10 en los últimos 40 años</h2>
        <p class="card-text text-center">
          Cada 8 de junio se celebra el Día Mundial de los Océanos y este 2021 la ONU quiere concienciar de la preocupante situación en la que se encuentran: la contaminación por plástico se ha multiplicado por diez en los últimos 40 años.
          La Organización de las Naciones Unidas ha hecho un llamamiento al cuidado personal de las grandes masas de agua y se ha mostrado realmente preocupada por la contaminación de plásticos, que se ha multiplicado por diez en los últimos 40 años.

La ONU ha lanzado este mensaje con motivo del Día Mundial los Océanos que se celebra cada 8 de junio desde 2008 para recordar cada año la importancia que tienen en el día a día en la Tierra y en la vida del ser humano. El 71% de la superficie terrestre es agua y los expertos advierten: en los últimos años, el mar se ha convertido en una verdadera "sopa de plástico".
        </p>
      </div>
    </div>

</div>
