<div class="img-fluid bg-image image p-5 d-flex flex-column" style='background-image:url("./../../../assets/images/Sos1.jpg")'>
    <!-- <div class="titulo"><h1>Noticias</h1></div> -->

    <div class="card bg-success p-5 mb-4">
      <div class="card-body text-white bg-sucess">
        <h2 class="card-title mb-0">Emergencia de los océanos: 142 países debaten cómo salvarlos en Lisboa</h2>
        <p class="card-text text-center">
          Los océanos inundan esta semana la agenda política mundial, aunque está por ver que la teoría sobre su conservación se convierta en práctica.
           De la Conferencia sobre los Océanos de la ONU, que ha comenzado este lunes por la mañana en Lisboa y a la que asisten más de 7.000 personas de 142 países,
            saldrá una declaración que se viene negociando desde hace dos años entre las distintas delegaciones internacionales y que no será vinculante.

        </p>
      </div>
    </div>

    <div class="card bg-success p-5 mb-4">
      <div class="card-body text-white bg-sucess">
        <h2 class="card-title mb-0">Ejemplo Noticia</h2>
        <p class="card-text text-center">
          Ejemplo de texto de noticia
        </p>
      </div>
    </div>

    <div class="card bg-success p-5 mb-4">
      <div class="card-body text-white bg-sucess">
        <h2 class="card-title mb-0">Ejemplo Noticia</h2>
        <p class="card-text text-center">
          Ejemplo de texto de noticia
        </p>
      </div>
    </div>

    <div class="card bg-success p-5 mb-4">
      <div class="card-body text-white bg-sucess">
        <h2 class="card-title mb-0">Ejemplo Noticia</h2>
        <p class="card-text text-center">
          Ejemplo de texto de noticia
        </p>
      </div>
    </div>

</div>
